*,
*::before,
*::after {
	font-family: JetBrainsMono Nerd Font, JetBrains Mono, monospace, monospace;
}

#alltabs-button,
.titlebar-buttonbox-container,
#page-action-buttons,
#tracking-protection-icon-container,
#identity-box {
	display: none;
}

#titlebar {
	z-index: 2;
}

#nav-bar {
	position: fixed !important;
	top: 0;
	left: 25%;
	right: 25%;

	@media (max-width: 1100px) {
		left: 15%;
		right: 15%;
	}

	@media (max-width: 800px) {
		left: 30px;
		right: 30px;
	}

	z-index: 1;
	transition: top 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280),
	opacity 0.1s ease !important;
	border-top: none !important;
	border-radius: 10px !important;
	border: 1px solid var(--tab-selected-bgcolor) !important;
	background: var(--lwt-accent-color) !important;
	opacity: 0;
}

#navigator-toolbox {
	border-bottom: none !important;
}

#tabs-newtab-button {
	opacity: 0;
	transition: 0.2s opacity ease;
}

#navigator-toolbox:not(:hover, :focus-within, :has([open])) #nav-bar {
	transition-delay: 0.2s !important;
}

#navigator-toolbox:is(:hover, :focus-within, :has([open])) {
	#nav-bar {
		top: 3.5rem;
		opacity: 1;
	}

	#tabs-newtab-button {
		opacity: 1;
	}
}

.tab-background {
	box-shadow: none !important;
	border-radius: 10px !important;
}

.tab-close-button {
	display: none;
}

.tabbrowser-tab {
	transition: min-width 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280), max-width 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280) !important;

	&[fadein]:not([pinned]) {
		max-width: 175px !important;
	}

	&[selected]:not([pinned]) {
		min-width: 250px !important;
		max-width: 250px !important;
	}
}

#urlbar-background {
	border-radius: 10px !important;
}

.urlbarView-url {
	color: var(--toolbar-color) !important;
}

#tabbrowser-arrowscrollbox {
	min-width: 100vw !important;
}


@media (-moz-bool-pref: "animatedFox.centeredTabs") {
	#tabbrowser-arrowscrollbox:not([overflowing]) {
		--uc-flex-justify: center;
	}

	scrollbox[orient="horizontal"] {
		justify-content: var(--uc-flex-justify, initial);
	}
}
